body {
    font-family: 'Acme', sans-serif;
    text-align: center;
}

.container {
    background-color: aquamarine;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #0af363;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: 'Acme', sans-serif;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0af363;
    border-radius: 5px;
    font-family: 'Acme', sans-serif;
}

select {
    width: 325px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0af363;
    border-radius: 5px;
    font-family: 'Acme', sans-serif;
}

button {
    padding: 10px 20px;
    background-color: hsl(85, 100%, 50%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-family: 'Acme', sans-serif;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}